建表和导入数据时间：
（1）Lineitem：
0.877 seconds，23.654 seconds
（2）nation：
0.152 seconds，0.7 seconds
（3）region：
0.091 seconds，2.189 seconds
（4）part：
0.388 seconds，1.729 seconds
（5）supplier：
0.177 seconds，0.595 seconds
（6）partsupp：
0.125 seconds，2.64 seconds
（7）customer
0.133 seconds，0.966 seconds
（8）orders
0.164 seconds，3.312 seconds

Q1：
创建外表lineitem：Time taken: 0.34 seconds
Query1：Time taken: 88.063 seconds

Q2：
创建外表part：Time taken: 0.445 seconds
创建外表supplier：Time taken: 0.135 seconds
创建外表partsupp：Time taken: 0.118 seconds
创建外表nation：Time taken: 0.066 seconds
创建外表region：Time taken: 0.049 seconds
Query1：Time taken: 122.742 seconds
Query2：Time taken: 10.994 seconds

Q3：
创建外表lineitem：Time taken: 0.457 seconds
创建外表orders：Time taken: 0.131 seconds
创建外表customer：Time taken: 0.106 seconds
Query1：Time taken: 79.955 seconds

Q4：
创建外表orders：Time taken: 0.37 seconds
创建外表lineitem：Time taken: 0.136 seconds
Query1：Time taken: 25.089 seconds

Q5：
创建外表customer：Time taken: 0.342 seconds
创建外表lineitem：Time taken: 0.132 seconds
创建外表orders：Time taken: 0.083 seconds
创建外表supplier：Time taken: 0.071 seconds
创建外表nation：Time taken: 0.052 seconds
创建外表region：Time taken: 0.062 seconds
Query1：Time taken: 556.488 seconds

Q6：
创建外表lineitem：Time taken: 0.436 seconds
Query1：Time taken: 35.498 seconds

Q7：
创建外表customer：Time taken: 0.304 seconds
创建外表lineitem：Time taken: 0.146 seconds
创建外表orders：Time taken: 0.09 seconds
创建外表supplier：Time taken: 0.083 seconds
创建外表nation： Time taken: 0.067 seconds
Query1：Time taken: 547.182 seconds

Q8：
创建外表part：Time taken: 0.667 seconds
创建外表customer：Time taken: 0.232 seconds
创建外表lineitem：Time taken: 0.246 seconds
创建外表orders：Time taken: 0.072 seconds
创建外表supplier：Time taken: 0.098 seconds
创建外表nation：Time taken: 0.123 seconds
创建外表region：Time taken: 0.102 seconds
Query1：Time taken: 769.624 seconds
Local task：Time Taken: 2.595 sec.
Launching Job 1 out of 15：Time Taken: 0.514 sec.
Launching Job 3 out of 15：Time Taken: 2.835 sec.
Launching Job 7 out of 15：Time Taken: 4.159 sec.

Q9：
创建外表part：Time taken: 0.642 seconds
创建外表lineitem：Time taken: 0.309 seconds
创建外表orders：Time taken: 0.234 seconds
创建外表supplier：Time taken: 0.128 seconds
创建外表partsupp：Time taken: 0.124 seconds
创建外表nation：Time taken: 0.101 seconds
Query：磁盘不够未查询完。

Q10：
创建外表lineitem：Time taken: 0.746 seconds
创建外表orders：Time taken: 0.128 seconds
创建外表customer：Time taken: 0.122 seconds
创建外表nation：Time taken: 0.052 seconds
Query1：Time taken: 114.827 seconds
Launching Job 1 out of 7：local task; Time Taken: 1.698 sec.

Q11：
创建外表supplier：Time taken: 0.542 seconds
创建外表nation：Time taken: 0.245 seconds
创建外表partsupp：Time taken: 0.21 seconds
Query1：Time taken: 39.614 seconds
local task; Time Taken: 1.736 sec.
Launching Job 1 out of 5：Time Taken: 0.413 sec.
Query2：Time taken: 1.798 seconds
Query3：Time taken: 9.638 seconds
local task; Time Taken: 1.195 sec.

Q12：
创建外表lineitem：Time taken: 0.476 seconds
创建外表orders：Time taken: 0.166 seconds
Query1：Time taken: 68.261 seconds

Q13：
创建外表customer：Time taken: 0.484 seconds
创建外表orders：Time taken: 0.134 seconds
Query1：Time taken: 49.408 seconds

Q14：
创建外表lineitem：Time taken: 0.498 seconds
创建外表part：Time taken: 0.165 seconds
Query1：Time taken: 46.842 seconds

Q15：
创建外表lineitem：Time taken: 0.513 seconds
创建外表supplier：Time taken: 0.132 seconds
Query1：Time taken: 43.359 seconds
Query2：Time taken: 3.201 seconds
Query3：Time taken: 17.29 seconds
local task; Time Taken: 2.955 sec.

Q16：
创建外表part：Time taken: 0.468 seconds
创建外表partsupp：Time taken: 0.144 seconds
创建外表supplier：Time taken: 0.112 seconds
Query1：Time taken: 7.332 seconds
Query2：Time taken: 58.995 seconds
local task; Time Taken: 2.437 sec.
Query3：Time taken: 17.755 seconds

Q17：
创建外表lineitem：Time taken: 0.78 seconds
创建外表part：Time taken: 0.222 seconds
Query1：Time taken: 177.832 seconds
Query2：Time taken: 195.671 seconds
Launching Job 1 out of 2：Time Taken: 4.311 sec.

Q18：
创建外表lineitem：Time taken: 0.531 seconds
创建外表orders：Time taken: 0.139 seconds
创建外表customer：Time taken: 0.114 seconds
Query1：Time taken: 72.893 seconds
Query2：Time taken: 328.931 seconds

Q19：
创建外表lineitem：Time taken: 0.425 seconds
创建外表part：Time taken: 0.161 seconds
Query1：Time taken: 279.807 seconds

Q20：
创建外表lineitem：Time taken: 0.453 seconds
创建外表supplier：Time taken: 0.141 seconds
创建外表nation：Time taken: 0.113 seconds
创建外表partsupp：Time taken: 0.074 seconds
Query1：Time taken: 8.909 seconds
Query2：Time taken: 52.398 seconds
Query3：Time taken: 23.862 seconds
local task; Time Taken: 7.242 sec.
Query4：Time taken: 1.658 seconds
Query5：Time taken: 10.631 seconds
local task; Time Taken: 1.934 sec.

Q21：
创建外表lineitem：Time taken: 0.404 seconds
创建外表orders：Time taken: 0.141 seconds
创建外表supplier：Time taken: 0.1 seconds
创建外表nation：Time taken: 0.099 seconds
Query1：Time taken: 182.728 seconds
Query2：Time taken: 108.768 seconds
Query3：Time taken: 175.734 seconds
local task; Time Taken: 1.74 sec.
Launching Job 1 out of 14：Time Taken: 0.507 sec.
Launching Job 3 out of 14：Time Taken: 13.679 sec.
Launching Job 6 out of 14：task failed

Q22：
创建外表customer：Time taken: 0.498 seconds
创建外表orders：Time taken: 0.155 seconds
Query1：Time taken: 10.026 seconds
Query2：Time taken: 3.617 seconds
Query3：Time taken: 21.35 seconds
Query4：Time taken: 14.616 seconds
local task; Time Taken: 2.336 sec.
